@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image/loginPG_image.jpg') no-repeat center center;
    background-size: cover;
}

.wrapper{
    width: 420px;
    padding: 30px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    /* font-weight: 600; */
    color: #fff;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: aquamarine; */
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    outline: none;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    background: transparent;
    color: #fff;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.wrapper .remember-frogot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    color: #fff;
}

.remember-frogot label input{
    margin-right: 3px;
}

.remember-frogot a{
    color: #fff;
    text-decoration: none;
}

.remember-frogot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper .register-link{
    text-align: center;
    margin-top: 20px;
    font-size: 14.5px;
    color: #fff;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}