@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300;1,400&family=Comic+Relief:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-top: #9be79f;
    --bg-bottom: #f8f3b2;
    --accent: #0b87e0;
    --accent-2: #08865c;
    --x-color: #ffffff;
    --x-edge: rgba(0,0,0,0.12);
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  height:100%;
  margin:0;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  background: url('../assent/RegisterPG_image.jpg') no-repeat center center;
  background-size: cover;
}

.chooseBox{
  /* background-color: #08865c; */
  height: 80%;
  width: 30%;
  margin-right: 5%;
}

.chooseBox .counting{
  /* display: flex; */
  height: 50%;
  width: 100%;
  background-color: #0b87e0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chooseBox .mathOperation{
  /* display: flex; */
  height: 50%;
  width: 100%;
  background-color: #0be05d;
}

.chooseBox .game{
  width: 80%;
  height: 100%;
  background-color: #f8f3b2; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-image: url(../assent/Wooden_sign.png);
  background-size: cover;
}
.chooseBox .play{
  width: 20%;
  background-color: rgb(177, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chooseBox .play button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--x-color);
  box-shadow: 0 4px 6px var(--x-edge);
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chooseBox .game h1{
  font-size: 40px;
  font-weight: 800;
}


