@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300;1,400&family=Comic+Relief:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-top: #9be79f;
    --bg-bottom: #f8f3b2;
    --accent: #0b87e0;
    --accent-2: #08865c;
    --x-color: #ffffff;
    --x-edge: rgba(0,0,0,0.12);
    --brown: #ba6343;
    --dark-brown: #923917;
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  height:100%;
  margin:0;
}

body{
  min-height: 100vh;
  display: flex;
  background: linear-gradient(180deg, var(--bg-top) 0%, #c6f0c9 30%, var(--bg-bottom) 100%);
  background-image: url(../assent/RegisterPG_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-box{
    height: 100%;
    width: 70%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: url(../assent/toy_house.png); */
    background-repeat: no-repeat;
}

.chooseBox{
  /* background-color: #08865c; */
  height: 85%;
  width: 26%;
  margin-right: 5%;
}

.chooseBox .counting,
.chooseBox .mathOperation{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  background: url(../assent/Wooden_sign.png) no-repeat center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chooseBox button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--x-color);
  box-shadow: 0 4px 6px var(--x-edge);
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chooseBox h1{
  font-size: 50px;
  font-weight: 900;
  color: var(--dark-brown);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-shadow: none;
  transition: text-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.chooseBox a{
    text-decoration: none;
    color: inherit;
}

h1:hover {
  color: var(--dark-brown);
  transform: scale(1);
  text-shadow: 2px 2px 5px var(--dark-brown); 
}

.side-bar{
    height: 100%;
    width: 5%;
    /* background-color: blue; */
    margin-right: 2%;
}

.side-bar .icon,
.side-bar .logout{
    margin-top: 25%;
    height: 10%;
    width: 100%;
    /* height: 110px;
    width: 110px; */
    /* background-color: red; */
    border: solid 2px var(--bg-top);
    border-radius: 50%;
}

.side-bar .icon img,
.side-bar .logout img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.side-bar .icon img:hover,
.side-bar .logout img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 50px #0FF6C8;
}

.side-bar .logout{
    margin-top: 25%;
    height: 10%;
    width: 100%;
    border: solid 2px var(--bg-top);
    border-radius: 50%;
}

.side-bar .logout{
    margin-top: 450px;
}





